<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info" name="sflowparser" packages="">
	<properties>
		<property name="logMsgPattern">%d %p %c{1.} [%t] %m%n</property>
		<property name="logDir">logs</property><!-- ${sys:logDir} -->
		<property name="isThreadContextMapInheritable">true</property>
	</properties>

	<Appenders>
		<Console name="STDOUT" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>
		<Syslog name="syslog" host="localhost" port="514" protocol="UDP"
			charset="ISO-8859-1">
			<PatternLayout
				pattern="&lt;1&gt;%d{MMM dd HH:mm:ss} ${hostName} appName: {
      		      &quot;host&quot;:&quot;${hostName}&quot;,
      		      &quot;thread&quot;:&quot;%t&quot;,
      		      &quot;level&quot;:&quot;%p&quot;,
      		      &quot;logger&quot;:&quot;%c{1}&quot;,
      		      &quot;line&quot;:%L,
      		      &quot;message&quot;:&quot;%enc{%m}&quot;,
      		      &quot;exception&quot;:&quot;%exception&quot;
      		      }%n" />
		</Syslog>
		<RollingFile name="ROLLING_FILE" fileName="logs/sflowparser.log"
			filePattern="logs/$${date:yyyy-MM}/sflow-%d{MM-dd-yyyy}-%i.log.gz">
			<PatternLayout>
				<Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="250 MB" />
			</Policies>
		</RollingFile>

		<Socket name="LOGSTASH_SOCKET" host="localhost" port="5051"
			immediateFail="false" immediateFlush="false">
			<JsonLayout compact="true" eventEol="true" />
			<MarkerFilter marker="LOGSTASH_MARKER" onMatch="ACCEPT"
				onMismatch="DENY" />
			<!-- <SerializedLayout /> -->
		</Socket>
	</Appenders>

	<Loggers>
		<Root level="info">
			<AppenderRef ref="ROLLING_FILE" />
			<AppenderRef ref="LOGSTASH_SOCKET" />
			<AppenderRef ref="syslog" />
			<!-- <AppenderRef ref="STDOUT" /> -->
		</Root>
	</Loggers>
</Configuration>
